/* STYLING THAT WILL APPLY TO ALL THE PAGES */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  background-color: #80ced7;
  color: #ffffff;
}

/* the heading of each page outside of landing */
.page-header {
  text-align: center;
  font-size: 26px;
}

/* styling for header component */
h1 {
  font-weight: 800;
}

/* styling for main component */
main {
  background-color: #ffffff;
  color: #003249;
  /* padding-bottom: 5px; */
}

/* styling for footer component */
#footer {
  display: flex;
  justify-content: space-between;
}

.trademark,
.credit {
  font-style: italic;
}

.linkedIn-link {
  color: #ffffff;
  text-decoration: none;
}

.linkedIn-link:hover {
  color: #003249;
  transition: all 0.5s;
}

/* LANDING STYLING */
.landing-main {
  display: flex;
}

img {
  max-width: 95%;
  height: 400px;
}

.log-in-create-account,
.log-in-form {
  display: flex;
  flex-direction: column;
}

#log-in-button {
  font-family: "Montserrat", sans-serif;
  background-color: #80ced7;
  border: 1px solid #80ced7;
  color: #ffffff;
  border-radius: 5px;
  width: 100px;
  height: 25px;
}

#log-in-button:hover {
  background-color: #ffffff;
  color: #80ced7;
  cursor: pointer;
  transition: all 0.5s;
}

.new-user {
  color: #003249;
  text-decoration: none;
}

.new-user:hover {
  color: #80ced7;
  transition: all 0.5s;
}

/* NEW FORM STYLING */
#new-form {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
}

.label {
  position: relative;
  right: 5px;
}

/* the #add-button styling also applies to index page */
.container-for-add-button {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#add-button {
  font-family: "Montserrat", sans-serif;
  background-color: #80ced7;
  border: 1px solid #80ced7;
  color: #ffffff;
  border-radius: 5px;
}

#add-button:hover {
  background-color: #ffffff;
  color: #80ced7;
  cursor: pointer;
  transition: all 0.5s;
}

/* INDEX STYLING */
#edit-button,
#delete-button {
  font-family: "Montserrat", sans-serif;
  background-color: #80ced7;
  border: 1px solid #80ced7;
  color: #ffffff;
  border-radius: 5px;
}

#edit-button:hover,
#delete-button:hover {
  background-color: #ffffff;
  color: #80ced7;
  cursor: pointer;
  transition: all 0.5s;
}

/* NEW USER PAGE STYLING */
.new-user-account-form {
  display: flex;
  justify-content: center;
}

.container-for-create-account-button {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#create-account-button {
  font-family: "Montserrat", sans-serif;
  background-color: #80ced7;
  border: 1px solid #80ced7;
  color: #ffffff;
  border-radius: 5px;
  width: 100px;
}

#create-account-button:hover {
  background-color: #ffffff;
  color: #80ced7;
  cursor: pointer;
  transition: all 0.5s;
}
